/*
 *	api.css by Giuseppe “JustHvost” D`Amico
 *			{ hvost@paranoici.org }
 *
 */

@import url(http://fonts.googleapis.com/css?family=Text+Me+One);
@import url(http://fonts.googleapis.com/css?family=Montez); /* Indie Flower */
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

html { margin: 0; padding: 0; height: 100%; }
body { background-color: #ecf0f1;}
header { font-family: 'Text Me One', sans-serif; font-size: 0.8em; 
	       clear: both; margin-top: -1px; margin-left: 10px; height: 1px;}

header h1 { text-shadow: 1px 1px 3px #333; display: inline-block; letter-spacing: -2px; }
header h1#heart { font-size: 0.7em; }

a { text-decoration: none; }


div#cont { min-height: 100%; position: relative; }
section {  width: 60%; margin: 10% auto  auto;  text-align: center; font-family: 'Coming Soon', cursive; font-size: 2.4em;
		      color: #2c3e50; }
footer p#from-to {  margin: 400px 20px 0; font-family: 'Coming Soon', cursive; font-size: 2em; text-align: right; color: #2c3e50; }


p { margin-top: -10px; }
